@page "/editproduct/{Id}"
@using ClientShoppingList.Shared

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<h2>Edit Product</h2>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="ProductName">Product Name *</label>
            <input form="ProductName" class="form-control" @bind="@product.ProductName" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Description"> Description *</label>
            <input form="Description" class="form-control" @bind="@product.Description" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Email"> Price *</label>
            <input form="Price" class="form-control" @bind="@product.Price" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="mg"> Image *</label>
            <input form="mg" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Save" value="Save" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Id{ get; set; }
    ProductsViewModel product = new ProductsViewModel();
    protected override async Task OnInitializedAsync()
    {
        product = await Http.GetFromJsonAsync<ProductsViewModel>("api/products/" + Id);
    }
    protected async Task Save()
    {
        var response = await Http.PutAsJsonAsync("api/products/" + Id, @product);
        bool personResponse = await response.Content.ReadFromJsonAsync<bool>();
        if (personResponse)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Updated Successfully!");
            NavigationManager.NavigateTo("productlist");
        }

    }
    void Cancel()
    {
        NavigationManager.NavigateTo("productlist");
    }

}
